div.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/background.jpg');
  background-position: center;
  background-repeat: repeat-x;
}
