@import url("https://fonts.googleapis.com/css?family=Coming+Soon");

body {
  margin: 0;
  padding: 0;
  font-family: "Coming Soon", cursive;
}

@import './Styles/app.scss';
@import './Styles/hangman.scss';
@import './Styles/heart.scss';